header{
    background-color: #ae9f8c;
    padding: 15px;
    width: 100%;
}

.hamburger {
    display: none;
}

#hamburger-menu{
    display: none;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: #110f0f;
}

nav ul li a:hover{
    color: rgb(51, 51, 146);
}

body{
    background-color: bisque;
    padding: 0;
}

.banner{
    width: 100%;
    height: 250px;
    margin-top: 0;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.banner img, .foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.banner .text-overlay, .foto .text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdadad;
    color: #000000;
    font: size 18px;
    text-align: center;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.hover-active img {
    filter: blur(5px);
    transform: scale(1.05);
}

.hover-active .text-overlay {
    opacity: 0.5;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.produk{
    flex: 3;
    padding: 10px;
}

.kolom{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-right: 3px;
}

.foto-container{
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.foto{
    flex: 0 0 auto;
    width: calc(25%-15px);
    max-width: 300px;
    height: 200px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

footer{
    display: block;
    width: 100%;
    background-color: #ae9f8c;
    color: #110f0f;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}


@media (min-width:769px){
    .foto-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20 px;
    }

    .foto{
        width: auto;
        height: 200px;
        margin: 0;
    }
}

@media (max-width: 768px) {

nav ul{
    display: none;
}

nav ul li{
    width: 100%;
    border-top: solid 1px #110f0f;
}

nav ul li:last-child{
    border-bottom: solid 1px #110f0f;
}

.hamburger {
    display: block;
    font-size: 28px;
}

#hamburger-menu:checked + .hamburger +  ul{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 5px;
}

.foto-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 5px 0;
    justify-content: flex-start;
}

.foto{
    flex-shrink: 0;
    width: 80vw;
    height: 200px;
    margin: o 10px;
    scroll-snap-align: center;
}

.foto:first-child{
    margin-left: 20px;
}

.foto:last-child{
    margin-right: 20px;
}

}